<launch>
  <arg name="output" default="screen"/>
  <arg name="cam0" default="poll_cameras/cam0"/>
  <arg name="cam1" default="poll_cameras/cam1"/>
  <arg name="cam2" default="poll_cameras/cam2"/>
  <arg name="cam3" default="poll_cameras/cam3"/>
  <arg name="refine" default="true"/> <!-- MIT detector -->
  <arg name="family" default="0"/> <!-- 0 = t36h11 -->
  <arg name="type"   default="0"/>
  <arg name="black_border"   default="1"/>
  <arg name="image" default="image_raw"/>
 
  <!-- apriltag detector node -->
  <node pkg="apriltag_ros" type="apriltag_detector_node"
    name="apriltag_detector" output="$(arg output)" ns="$(arg cam0)">
    <param name="refine" type="bool" value="$(arg refine)"/>
    <param name="family" type="int" value="$(arg family)"/>
    <param name="type" type="int" value="$(arg type)"/>
    <param name="black_border" type="int" value="$(arg black_border)"/>
    <remap from="~image" to="$(arg image)"/>
    <remap from="~apriltags" to="apriltags"/>
    <remap from="~image_detection" to="image_detection"/>
  </node>
  <node pkg="apriltag_ros" type="apriltag_detector_node"
    name="apriltag_detector" output="$(arg output)" ns="$(arg cam1)">
    <param name="refine" type="bool" value="$(arg refine)"/>
    <param name="family" type="int" value="$(arg family)"/>
    <param name="type" type="int" value="$(arg type)"/>
    <param name="black_border" type="int" value="$(arg black_border)"/>
    <remap from="~image" to="$(arg image)"/>
    <remap from="~apriltags" to="apriltags"/>
    <remap from="~image_detection" to="image_detection"/>
  </node>
  <node pkg="apriltag_ros" type="apriltag_detector_node"
    name="apriltag_detector" output="$(arg output)" ns="$(arg cam2)">
    <param name="refine" type="bool" value="$(arg refine)"/>
    <param name="family" type="int" value="$(arg family)"/>
    <param name="type" type="int" value="$(arg type)"/>
    <param name="black_border" type="int" value="$(arg black_border)"/>
    <remap from="~image" to="$(arg image)"/>
    <remap from="~apriltags" to="apriltags"/>
    <remap from="~image_detection" to="image_detection"/>
  </node>
  <node pkg="apriltag_ros" type="apriltag_detector_node"
    name="apriltag_detector" output="$(arg output)" ns="$(arg cam3)">
    <param name="refine" type="bool" value="$(arg refine)"/>
    <param name="family" type="int" value="$(arg family)"/>
    <param name="type" type="int" value="$(arg type)"/>
    <param name="black_border" type="int" value="$(arg black_border)"/>
    <remap from="~image" to="$(arg image)"/>
    <remap from="~apriltags" to="apriltags"/>
    <remap from="~image_detection" to="image_detection"/>
  </node>
</launch>
