<launch>
  <arg name="output" default="screen"/>
  <arg name="bag_file"/>
  <arg name="calibration_file"
    default="$(find bgp_calib)/config/cameras_intrinsic_calib.yaml"/>
  <arg name="pose_file" default="$(find bgp_calib)/config/tag_poses.yaml"/>
  <arg name="output_dir" default="$(find bgp_calib)/data"/>
  <arg name="sync_name" default="/cam_sync"/>
  <arg name="cam0" default="cam_sync/cam0"/>
  <arg name="cam1" default="cam_sync/cam1"/>
  <arg name="cam2" default="cam_sync/cam2"/>
  <arg name="cam3" default="cam_sync/cam3"/>

  <!-- apriltag detector nodes -->
  <include file="$(find bgp_calib)/launch/apriltag_detector_node.launch" ns="$(arg cam0)"/>
  <include file="$(find bgp_calib)/launch/apriltag_detector_node.launch" ns="$(arg cam1)"/>
  <include file="$(find bgp_calib)/launch/apriltag_detector_node.launch" ns="$(arg cam2)"/>
  <include file="$(find bgp_calib)/launch/apriltag_detector_node.launch" ns="$(arg cam3)"/>
  <!-- calibration node -->
  <!--    launch-prefix="xterm -e gdb minusminusargs" -->
  <node pkg="bgp_calib" type="bgp_calib_node"
    name="bgp_calib_node" output="$(arg output)">
    <rosparam command="load" file="$(arg calibration_file)"/>
    <rosparam param="tag_poses" command="load" file="$(arg pose_file)"/>
    <rosparam param="camera_names">["cam0", "cam1", "cam2", "cam3"]</rosparam>
    <!--
	<rosparam param="camera_names">["cam0","cam1", "cam2", "cam3"]</rosparam>
	-->
    <!-- output files -->
    <param name="calib_file_name" type="string" value="$(arg output_dir)/extrinsic_calib.yaml"/>
    <param name="output_cam_poses_file" type="string" value="$(arg output_dir)/cam_poses.txt"/>
    <param name="output_tag_poses_file" type="string" value="$(arg output_dir)/tag_poses.txt"/>
    <param name="reprojection_file" type="string" value="$(arg output_dir)/reproj.txt"/>
    <param name="diagnostics_file" type="string" value="$(arg output_dir)/diagnostics.txt"/>
    <!-- end output files -->
    <param name="max_error" type="double" value="3000"/>
    <remap from="~cam0/apriltags" to="$(arg sync_name)/cam0/apriltag_detector/tags"/>
    <remap from="~cam1/apriltags" to="$(arg sync_name)/cam1/apriltag_detector/tags"/>
    <remap from="~cam2/apriltags" to="$(arg sync_name)/cam2/apriltag_detector/tags"/>
    <remap from="~cam3/apriltags" to="$(arg sync_name)/cam3/apriltag_detector/tags"/>
  </node>
  <!-- playback node -->
  <node pkg="rosbag" type="play" name="player" output="screen"	args="-l -r 1.0 $(arg bag_file)"/>

</launch>
